<div class="flex flex-col gap-6">
  <padicare-alert>
    <padicare-alert-title>Alert Title</padicare-alert-title>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="secondary">
    <padicare-alert-title>Alert Title</padicare-alert-title>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="positive">
    <padicare-alert-title>Alert Title</padicare-alert-title>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="negative">
    <padicare-alert-title>Alert Title</padicare-alert-title>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
</div>
