body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.logo {
  display: flex;
  text-shadow: #333;
  font-weight: 800;
}

nav {
  background-color: white;
  color: black;
  padding: .5rem;
  border-radius: 5px;
}

.bg-grey {
  background-color: #e2e2e2;
}

.section {
  background-color: #e2e2e2;
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #352380;
  color: #ffffff;
  width: 100%;
  bottom: 0;
}

.checked {
  color: orange;
}