.section1 {
  background-image: url('/assets/img/landing2.png');
  background-color: #FFFFFF;
  height: 850px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  background-color: #e2e2e2;
  padding: 2rem;
  text-align: center;
}

.section2 {
  background-color: #e2ecff !important;
  color: #21272A !important;
}

.section2-icon {
  color: #4A4949;
}

.section4-icon {
  color: #352380;
}

nav {
  background-color: white;
  color: black;
  padding: .5rem;
  border-radius: 5px;
}

.border-violet {
  border-color: #4A00E0 !important;
}
