<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">
      <span class="fs-3 fw-bolder">
        <span style="color: #0F62FE;">PADI</span><span style="color: #EB1077;">CARE</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex ms-auto me-5">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item ms-2 me-2">
            <a class="nav-link fw-bold active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ms-2 me-2">
            <a class="nav-link fw-bold" href="#">About Us</a>
          </li>
          <li class="nav-item ms-2 me-2">
            <a class="nav-link fw-bold" href="#">Our Services</a>
          </li>
          <li class="nav-item ms-2 me-2">
            <a class="nav-link fw-bold" href="#">Our Product</a>
          </li>
          <li class="nav-item dropdown ms-2 me-2">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">User</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Caregiver</a></li>
            </ul>
          </li>
          <li class="nav-item lm-4 ms-3 me-2">
            <button type="button" class="btn btn-primary p-auto fw-bold">
              <span class="pe-2">Join Now</span>
              <i class="bi bi-arrow-right"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="mt-5"></div>

<div class="container-fluid section">
  <div class="row mt-5 mb-5 text-center">
    <h2 class="fs-3 fw-bold">
      Join millions of families who trust Padicare for compassionate
    </h2>
    <p class="fs-5">background-checked care for everyone you love</p>
  </div>

  <div class="row ms-4 me-4 mt-4 mb-4">

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card text-center align-items-center bg-grey border-0">
        <div class="card-body p-4"> <img src="assets/img/category/icon1.png" width="75" alt="Service" />
          <h6 class="mb-3 fw-bold">Child Care</h6>
          <p class="mb-0 fw-medium">
            Our child care services connect families with experienced and compassionate caregivers who prioritize your 
            child's safety, growth, and happiness. Whether you need full-time, part-time, or occasional babysitting, 
            Padicare is here to provide reliable support tailored to your family's needs.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card text-center align-items-center bg-grey border-0">
        <div class="card-body p-4"> <img src="assets/img/category/icon2.png" width="75" alt="Service" />
          <h6 class="mb-3 fw-bold">Senior Care</h6>
          <p class="mb-0 fw-medium">
            Padicare offers professional senior care services to help your loved ones enjoy their golden years in comfort. 
            From assistance with daily activities to companionship and specialized care, our caregivers are dedicated to 
            making life easier for seniors and their families.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
      <div class="card text-center align-items-center bg-grey border-0">
        <div class="card-body p-4"> <img src="assets/img/category/icon2.png" width="75" alt="Service" />
          <h6 class="mb-3 fw-bold">Pet Care</h6>
          <p class="mb-0 fw-medium">
            We understand how much you care for your pets. Padicare links you with trusted caregivers to provide 
            walking, feeding, grooming, and companionship for your pets, ensuring they feel loved and well-cared for, 
            even in your absence.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
      <div class="card text-center align-items-center bg-grey border-0">
        <div class="card-body p-4"> <img src="assets/img/category/icon2.png" width="75" alt="Service" />
          <h6 class="mb-3 fw-bold">House Keeping</h6>
          <p class="mb-0 fw-medium">
            Padicare takes the stress out of maintaining a tidy living space. Whether it's regular cleaning, organizing, 
            or specialized housekeeping tasks, our skilled professionals deliver dependable services to keep your home 
            spotless and welcoming.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
      <button class="btn btn-primary">Join Now!</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5 text-center">
    <h2 class="fs-3 fw-bold">
      Voices of Care: Stories from our Community
    </h2>
  </div>

  <div class="row ms-4 me-4 mt-4 mb-4">

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card text-center align-items-center border border-primary">
        <div class="card-body p-4"> <img src="assets/img/category/icon1.png" width="75" alt="Service" />
          <h6 class="mb-3 fw-bold">Sandra Michaels</h6>
          <span class="fs-6">Child & Senior Caregiver</span>
          <p class="mb-0 fw-medium">
            "Working with Padicare has been a truly rewarding experience. The platform makes it easy to connect with 
            families in need of my skills, and I feel valued for the work I do. 
            It's fulfilling to know I'm making a difference in someone's life, whether it's helping a senior enjoy 
            their day or caring for a child with boundless energy. Padicare's support and resources ensure I can 
            provide the best care possible."
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card text-center align-items-center border border-primary">
        <div class="card-body p-4"> <img src="assets/img/category/icon2.png" width="75" alt="Service" />
          <h6 class="mb-3 fw-bold">John Morrison</h6>
          <span class="fs-6">Care Recipient</span>
          <p class="mb-0 fw-medium">
            "Padicare has been a lifesaver for our family. We were struggling to balance our busy schedules and needed 
            someone trustworthy to help with our two young children. The caregiver we found through Padicare has been 
            amazing—so kind, professional, and dependable. Knowing my kids are in good hands has given me peace of mind. 
            We've even used their pet care service, and our dog has never been happier"
          </p>
          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 mb-2">&nbsp;</div>

<div class="container-fluid section">
  <div class="row mt-2 mb-2 text-center">
    <h2 class="fs-3 fw-bold">
      Why Choose Us?
    </h2>
  </div>
  
  
</div>

<div class="mt-5 mb-5">&nbsp;</div>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker">
          <button type="button" class="btn btn-outline-secondary bi bi-calendar" (click)="dp.toggle()"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<footer class="fixed-bottom text-center p-4">
  
  <p>PADICARE &copy; 2025. All rights reserved.</p>
</footer>