<script src="https://js.stripe.com/basil/stripe.js"></script>
<script src="checkout.js" defer></script>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-12">
      <h1>Payment Processing</h1>
      <p *ngIf="checkoutEntity == 'bookingAppointment'">Pay To Book Service Appointment</p>
    </div>

    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <div class="mb-3 mt-3">

          <div #paymentElement id="payment-element">
            <!-- Checkout will insert the payment form here -->
          </div>

          <div class="d-grid gap-2">
            <button type="button" class="btn btn-success-outline" matButton="outlined" (click)="handleSubmit()">Pay</button>
            <button type="button" class="btn btn-secondary-outline" matButton="outlined">Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
