<div class="h-[500px]">
  <padicare-block-state>
    <padicare-block-state-title>
      Something has been achieved
    </padicare-block-state-title>
    <padicare-block-state-content>
      You can do something with it, or you can not do it. And the description text can be quite long.
    </padicare-block-state-content>
    <padicare-block-state-actions>
      <button mat-button>Cancel</button>
      <button mat-flat-button>Apply Changes</button>
    </padicare-block-state-actions>
  </padicare-block-state>
</div>
