<padicare-timeline>
  <padicare-timeline-header>1 AUG, 2023</padicare-timeline-header>
  <padicare-timeline-item>
    <ng-template padicareTimelineItemIndicator>
      <padicare-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></padicare-avatar>
    </ng-template>
    <padicare-timeline-timestamp>11, July</padicare-timeline-timestamp>
    <padicare-timeline-title>Created "padicareimaKit in Angular" task</padicare-timeline-title>
    <padicare-timeline-description>Find more detailed insctructions here.</padicare-timeline-description>
  </padicare-timeline-item>
  <padicare-timeline-item>
    <ng-template padicareTimelineItemIndicator>
      <padicare-avatar class="w-7 h-7">
        <mat-icon class="filled !w-5 !h-5 !text-lg">folder</mat-icon>
      </padicare-avatar>
    </ng-template>
    <padicare-timeline-timestamp>03, July</padicare-timeline-timestamp>
    <padicare-timeline-title>Created "padicareimaKit in Angular" task</padicare-timeline-title>
    <padicare-timeline-description>Find more detailed insctructions here.</padicare-timeline-description>
  </padicare-timeline-item>
  <padicare-timeline-item>
    <ng-template padicareTimelineItemIndicator>
      <padicare-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></padicare-avatar>
    </ng-template>
    <padicare-timeline-timestamp>25, June</padicare-timeline-timestamp>
    <padicare-timeline-title>Created "padicareimaKit in Angular" task</padicare-timeline-title>
    <padicare-timeline-description>Find more detailed insctructions here.</padicare-timeline-description>
  </padicare-timeline-item>
  <padicare-timeline-item>
    <ng-template padicareTimelineItemIndicator>
      <padicare-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-8 h-8" text="J"></padicare-avatar>
    </ng-template>
    <padicare-timeline-timestamp>22, June</padicare-timeline-timestamp>
    <padicare-timeline-title>Created "padicareimaKit in Angular" task</padicare-timeline-title>
    <padicare-timeline-description>Find more detailed insctructions here.</padicare-timeline-description>
  </padicare-timeline-item>
</padicare-timeline>
