<app-page>
  <div appPageContent>
    <h1>Datepicker</h1>

    <h3 class="mat-title-large">Basic Datepicker</h3>
    <padicare-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="basic-datepicker-example">
      <app-basic-datepicker-example></app-basic-datepicker-example>
    </padicare-playground>

    <h3 class="mat-title-large">Datepicker With Custom Icon</h3>
    <padicare-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="datepicker-custom-icon-example">
      <app-datepicker-custom-icon-example></app-datepicker-custom-icon-example>
    </padicare-playground>

    <h3 class="mat-title-large">Datepicker With Custom Header</h3>
    <padicare-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="datepicker-with-custom-header-example">
      <app-datepicker-with-custom-header-example></app-datepicker-with-custom-header-example>
    </padicare-playground>

    <h3 class="mat-title-large">Datepicker Action Buttons</h3>
    <padicare-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="datepicker-actions-button-example">
      <app-datepicker-actions-button-example></app-datepicker-actions-button-example>
    </padicare-playground>

    <h3 class="mat-title-large">Basic Date Range Picker</h3>
    <padicare-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="basic-date-range-picker-example">
      <app-basic-date-range-picker-example></app-basic-date-range-picker-example>
    </padicare-playground>
  </div>
</app-page>
