<div class="clearfix mt-5"></div>
<footer class="text-center p-4" [ngClass]="{'fixed-bottom': isFixed}">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <a class="navbar-brand ms-5" href="/">
          <span class="fs-3" style="font-weight: 900;">
            <span style="color: #0F62FE;">PADI</span><span style="color: #F47CB4;">CARE</span>
          </span>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- General Menus -->
        <p>PADICARE &copy; {{ currentYear }}. All rights reserved.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <button type="button" class="btn me-2" aria-label="YouTube Icon">
          <i class="fa-brands fa-youtube" style="color: #FFFFFF"></i>
        </button>
        <button type="button" class="btn me-2" aria-label="Facebook Icon">
          <i class="fa-brands fa-facebook-f" style="color: #FFFFFF"></i>
        </button>
        <button type="button" class="btn me-2" aria-label="Twitter Icon">
          <i class="fa-brands fa-twitter" style="color: #FFFFFF"></i>
        </button>
        <button type="button" class="btn me-2" aria-label="Instagram Icon">
          <i class="fa-brands fa-instagram" style="color: #FFFFFF"></i>
        </button>
        <button type="button" class="btn me-2" aria-label="LinkedIn Icon">
          <i class="fa-brands fa-linkedin-in" style="color: #FFFFFF"></i>
        </button>
      </div>
    </div>

  </div>
</footer>
