<div class="flex flex-col gap-6">
  <padicare-alert>
    This is a Elementar Admin alert — check it out!
    <button padicareAlertAction padicareAlertClose>
      <mat-icon>close</mat-icon>
    </button>
  </padicare-alert>
  <padicare-alert variant="secondary">
    This is a Elementar Admin alert — check it out!
    <button padicareAlertAction padicareAlertClose>
      <mat-icon>close</mat-icon>
    </button>
  </padicare-alert>
  <padicare-alert variant="informative">
    This is a Elementar Admin alert — check it out!
    <button padicareAlertAction padicareAlertClose>
      <mat-icon>close</mat-icon>
    </button>
  </padicare-alert>
  <padicare-alert variant="negative">
    This is a Elementar Admin alert — check it out!
    <button padicareAlertAction>Action</button>
    <button padicareAlertAction padicareAlertClose>
      <mat-icon>close</mat-icon>
    </button>
  </padicare-alert>
  <padicare-alert variant="positive">
    <padicare-alert-title>Alert Title</padicare-alert-title>
    This is a Elementar Admin alert — check it out!
    <button padicareAlertAction padicareAlertClose>
      <mat-icon>close</mat-icon>
    </button>
  </padicare-alert>
  <padicare-alert variant="notice">
    <padicare-alert-title>Alert Title</padicare-alert-title>
    This is a Elementar Admin alert — check it out!
    <button padicareAlertAction>Action</button>
    <button padicareAlertAction padicareAlertClose>
      <mat-icon>close</mat-icon>
    </button>
  </padicare-alert>
</div>
