<app-page>
  <div appPageContent>
    <h1>Table</h1>

    <h3 class="mat-title-large">Basic Table</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="basic-table-example">
      <app-basic-table-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Pagination</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-pagination-example">
      <app-table-with-pagination-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Sorting</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-sort-example">
      <app-table-with-sort-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Filtering</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-filtering-example">
      <app-table-with-filtering-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Selection</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-selection-example">
      <app-table-with-selection-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Fixed Columns</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-fixed-columns-example">
      <app-table-with-fixed-columns-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Fixed Header</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-sticky-header-example">
      <app-table-with-sticky-header-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Table With Fixed Footer</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-sticky-footer-example">
      <app-table-with-sticky-footer-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Sortable table</h3>
    <padicare-playground exampleUrl="_docs/components/table/_examples" exampleName="sortable-table-example">
      <app-sortable-table-example/>
    </padicare-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/table/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
