<div class="position-absolute top-50 start-50 translate-middle text-center">

  <div class="border border-secondary text-center">

    <mat-stepper class="bg-white p-2" [linear]="isLinear" #stepper>

      @if (showStep0Form) {
      <mat-step [stepControl]="step0Form" [optional]="!showStep0Form">
        <form [formGroup]="step0Form">
          <h4 class="fw-bold">Where can you offer care?</h4>
          <span class="fs-6">Join Padicare to get access to verified clients within your specified location
            radius.</span>
          <div class="mt-2 mb-1">

            <div class="col-md-12 mb-4">
              <div id="map" style="height: 200px;"></div>
            </div>

            <mat-form-field class="col-md-6 p-2">
              <mat-label>Zip Code</mat-label>
              <input matInput type="text" formControlName="zipcode">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="zipcode?.valid" (click)="step0Form.reset();">
                <mat-icon>close</mat-icon>
              </button>
              <mat-hint>{{ !!zipcode ? step0Form.get('city')?.value + ', ' + step0Form.get('state')?.value : ''
                }}</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-6 p-2">
              <mat-label>Radius In Miles</mat-label>
              <input matInput type="text" formControlName="radius">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="step0Form.get('radius')?.valid"
                (click)="step0Form.get('radius')?.setValue('');">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      }

      <mat-step [stepControl]="step1Form">
        <form [formGroup]="step1Form">
          <h4 class="fw-bold">What type of care service are you interested in?</h4>
          <span class="fs-6">Join Padicare to get access to verified clients in need of care</span>
          <div class="mt-2 mb-1">
            <div class="d-grid gap-2 mb-4" *ngFor="let careReceiver of careReceiverValues">
              <input type="radio" formControlName="primaryCareType" value="{{careReceiver}}" class="btn-check"
                id="{{careReceiver | lowercase}}">
              <label class="btn btn-outline-dark" for="{{careReceiver | lowercase}}">
                {{careReceiver | replaceString:'_':' ' | titlecase }}
                <i class="{{careReceiverOptions[careReceiver].icon}} ms-2"></i>
              </label>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step2Form">
        <form [formGroup]="step2Form">
          <h4 class="fw-bold">When are you available to offer care?</h4>
          <span class="fs-6">Join Padicare to get access to verified clients in need of care</span>
          <div class="mt-2 mb-1">
            <div class="d-grid gap-2 mb-4">
              <input type="radio" name="careReadiness" formControlName="careReadiness" value="RIGHT_NOW"
                class="btn-check" id="right-now">
              <label class="btn btn-outline-dark" for="right-now">Right Now</label>
            </div>
            <div class="d-grid gap-2 mb-4">
              <input type="radio" name="careReadiness" formControlName="careReadiness" value="WITHIN_A_WEEK"
                class="btn-check" id="within-a-week">
              <label class="btn btn-outline-dark" for="within-a-week">Within a week</label>
            </div>
            <div class="d-grid gap-2 mb-4">
              <input type="radio" name="careReadiness" formControlName="careReadiness" value="IN_1_2_MONTH"
                class="btn-check" id="in-1-2-months">
              <label class="btn btn-outline-dark" for="in-1-2-months">In 1-2 Months</label>
            </div>
            <div class="d-grid gap-2 mb-4">
              <input type="radio" name="careReadiness" formControlName="careReadiness" value="JUST_BROWSING"
                class="btn-check" id="just-browsing">
              <label class="btn btn-outline-dark" for="just-browsing">Just Browsing</label>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step3Form" label="OtherCareTypes">
        <form [formGroup]="step3Form">
          <h4 class="fw-bold">Do you offer any other types of care?</h4>
          <div class="mt-2 mb-1">
            <div class="d-grid gap-2 mb-4 border" *ngFor="let control of otherCareTypes; let i = index">
              <mat-checkbox class="text-start" [formControl]="control" [value]="otherCareTypeValue[i]">
                {{otherCareTypeValue[i] | replaceString:'_':' ' | titlecase }}
                <i class="{{careReceiverOptions[otherCareTypeValue[i]]?.icon}} ms-2 text-end"></i>
              </mat-checkbox>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step4Form">
        <form [formGroup]="step4Form">
          <h4 class="fw-bold">Finish setting up your account!</h4>
          <span class="fs-5">See caregivers who match your needs. It only takes a few seconds.</span>
          <div class="mt-2 mb-1">
            <mat-form-field class="col-md-6 pe-1">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="step4Form.get('firstName')?.valid"
                (click)="step4Form.get('firstName')?.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="col-md-6 ps-1">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="step4Form.get('lastName')?.valid"
                (click)="step4Form.get('lastName')?.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="col-md-6 pe-1 mt-2">
              <mat-label>Email</mat-label>
              <input matInput type="text" formControlName="email">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="email?.valid" (click)="email?.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="email?.invalid && email?.errors">
                <span *ngIf="email?.errors?.['uniqueEmail']">Email already exists. Please <a
                    href='/auth/login'>login</a></span>
                <span *ngIf="email?.errors?.['email']">Not a valid email</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6 ps-1 mt-2">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" formControlName="cellPhone">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="step4Form.get('cellPhone')?.valid"
                (click)="step4Form.get('cellPhone')?.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="col-md-6 pe-1 mt-2">
              <mat-label>Password</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
              <button type="button" *ngIf="step4Form.get('password')?.invalid" matSuffix mat-icon-button
                (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <button type="button" *ngIf="step4Form.get('password')?.valid" matSuffix mat-icon-button
                (click)="hidePassword = !hidePassword" aria-label="Password is Good">
                <mat-icon class="text-success">check_circle</mat-icon>
              </button>
              <mat-hint>It must be a combination of minimum 8 letters, numbers, and symbols.</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-6 ps-1 mt-2">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword">
              <button type="button" *ngIf="step4Form.get('confirmPassword')?.invalid" matSuffix mat-icon-button
                (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <button type="button" *ngIf="step4Form.get('confirmPassword')?.valid" matSuffix mat-icon-button
                (click)="hidePassword = !hidePassword" aria-label="Password is Good">
                <mat-icon class="text-success">check_circle</mat-icon>
              </button>
              <mat-hint>It must be a combination of minimum 8 letters, numbers, and symbols.</mat-hint>
            </mat-form-field>

          </div>
          <div class="d-grid gap-2 mt-5">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step4bForm" label="ProfessionalPreference">
        <form [formGroup]="step4bForm">
          <h4 class="fw-bold">Professional Preference Settings!</h4>
          <div class="mt-4 mb-3 text-start">

            <h5>Service Fee Per Hour For Your Service(s) as Caregiver:</h5>
            <div *ngFor="let chargePerHourFormGroup of chargePerHourFormGroups">
              <mat-form-field class="col-md-6 pe-1 mb-2" [formGroup]="chargePerHourFormGroup">
                <mat-label>{{ (chargePerHourFormGroup.get('careType')?.value || '') | replaceString:'_':' ' | titlecase
                  }} Fee</mat-label>
                <button matPrefix mat-icon-button
                  [attr.aria-label]="chargePerHourFormGroup.get('currency')?.value || 'USD'">
                  <mat-icon>attach_money</mat-icon>
                </button>
                <input matInput type="number" formControlName="amount">
              </mat-form-field>
            </div>

            <h5>Profession Information:</h5>

            <mat-form-field class="col-md-12 pe-1 mb-2">
              <mat-label>Years of Experiences</mat-label>
              <input matInput type="number" formControlName="yearsOfExperience">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="step4bForm.get('yearsOfExperience')?.valid"
                (click)="step4bForm.get('yearsOfExperience')?.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="col-md-12 pe-1 mb-2">
              <mat-label>Professional Summary</mat-label>
              <textarea matInput type="text" formControlName="professionalSummary" rows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="d-grid gap-2 mt-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step4cForm">
        <form [formGroup]="step4cForm">
          <h4 class="fw-bold">Common Question From Client?</h4>
          <div class="mt-4 mb-2 col-md-12">
            <div class="d-grid gap-2 mb-4 border" *ngFor="let control of caregiverQualities; let i = index">
              <mat-checkbox class="text-start" [formControl]="control" value="true">
                {{ CaregiverQualitiesEnum[i] }}
              </mat-checkbox>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step4dForm">
        <form [formGroup]="step4dForm">
          <h4 class="fw-bold">Preference Daily Rest / Daily Personal Time Off - (PTO)!</h4>
          <span class="fs-6">The time of day that you will not be available to work</span>
          <mat-form-field class="col-md-12 mt-2 mb-2">
            <mat-label>Start Time For Daily PTO</mat-label>
            <input matInput [matTimepicker]="dailyPtoFromPicker" formControlName="dailyPtoFrom">
            <mat-timepicker-toggle matIconSuffix [for]="dailyPtoFromPicker" />
            <mat-timepicker #dailyPtoFromPicker />
          </mat-form-field>
          <mat-form-field class="col-md-12 mt-2 mb-2">
            <mat-label>End Time For Daily PTO</mat-label>
            <input matInput [matTimepicker]="dailyPtoToPicker" formControlName="dailyPtoTo">
            <mat-timepicker-toggle matIconSuffix [for]="dailyPtoToPicker" />
            <mat-timepicker #dailyPtoToPicker />
            <mat-hint *ngIf="isOvernightRest">(night rest detected)</mat-hint>
            <mat-hint *ngIf="isLongOvernightRest">(long night rest detected)</mat-hint>
            <mat-hint *ngIf="!isOvernightRest && !isLongOvernightRest">
              Daily PTO end time can be the next day morning. e.g: Overnight Rest => 10PM to next day 6AM</mat-hint>
          </mat-form-field>
          <div class="col-md-12">
            <span class="fw-bold">See Suggestions: </span>
            <div class="btn-group">
              <button class="btn btn-link" (click)="nightRest()">Night Rest</button>
              <button class="btn btn-link" (click)="morningRest()">Morning Rest</button>
              <button class="btn btn-link" (click)="afternoonRest()">Afternoon Rest</button>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step5Form">
        <form [formGroup]="step5Form">
          <h4 class="fw-bold">Authorization and Preference Settings!</h4>
          <span class="fs-5">Terms and condition and background check authorization.</span>
          <div class="mt-4 mb-3 text-start">

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="acceptNotifications" class="text-start">
                I agree to receive notifications via email and/or SMS about my account activity,
                including but not limited to new job opportunities, messages from clients, and other important updates.
              </mat-checkbox>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="acceptLocation" class="text-start">
                I agree to share my location with Padicare to help me find clients in my area.
              </mat-checkbox>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="acceptEmail" class="text-start">
                I agree to receive marketing emails from Padicare about new features, promotions,
                client communications and other relevant information.
              </mat-checkbox>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="acceptSMS" class="text-start">
                I agree to receive SMS notifications from Padicare about my account activity,
                including but not limited to new job opportunities, messages from clients, and other important updates.
              </mat-checkbox>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="visibility" class="text-start">
                I agree to allow my basic user information such as (name, gender, etc.) to be visibility and/or
                searchable via the padicare plateform
              </mat-checkbox>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="acceptPhone" class="text-start">
                I agree to receive Phone voice calls from Padicare about my account activity,
                including but not limited to new job opportunities, voice-calls from clients, and other important
                updates.
              </mat-checkbox>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <mat-checkbox formControlName="acceptTermsAndConditions" class="text-start">
                I agree to the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a> and
                <a href="/privacy-policy" target="_blank">Privacy Policy</a>
              </mat-checkbox>
            </div>

            <div class="col-md-12">
              <small>
                Upload a clear and legible copy of your identity document (e.g., driver's license, passport, etc.) to
                verify your identity.
              </small>
              <app-document-uploader (documentUploaded)="onFileUpload($event)"></app-document-uploader>
            </div>

          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" [disabled]="step5Form.invalid" matStepperNext>Next</button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="step6Form">
        <form [formGroup]="step6Form" (ngSubmit)="captchaRef.execute()">
          <h4 class="fw-bold">Authorization and Preference Settings!</h4>
          <span class="fs-5">Background check authorization.</span>
          <div class="mt-4 mb-3 text-start">

            <div class="col-md-12 mt-2 mb-1">
              <ul>
                <li class="mt-1 mb-1">I agree to background check authorization and</li>
                <li class="mt-1 mb-1">I authorize Padicare to conduct a background check on me.</li>
                <li class="mt-1 mb-1">
                  I understand that this background check may include a review of my criminal history, credit history,
                  and other relevant information.
                </li>
                <li class="mt-1 mb-1">I understand that I have the right to dispute any inaccuracies in my background
                  check report.</li>
                <li class="mt-1 mb-1">I understand that Padicare may use the information obtained from this background
                  check to determine my eligibility for employment or other opportunities with Padicare.</li>
                <li class="mt-1 mb-1">
                  I understand that I have the right to request a copy of my background check report and to dispute any
                  inaccuracies in the report.
                </li>
                <li class="mt-1 mb-1 fw-bold">
                  An email will be sent to the email address provided - <u>{{ email?.value }}</u> - with a link to the
                  background check authorization form.
                </li>
              </ul>
              <mat-checkbox formControlName="backgroundCheck" class="text-start">
                I have read and understood the above statement and I agree to the background check authorization.
              </mat-checkbox>
            </div>
          </div>

          <!-- Invisible recaptcha -->
          <re-captcha #captchaRef="reCaptcha" errorMode="handled" (resolved)="captchaService.resolved($event)" (error)="captchaService.onError($event);
            captchaRef.reset();" />

          <div class="d-grid gap-2">
            <button class="btn btn-primary" matStepperNext [disabled]="isSubmitted">
              <span class="d-inline-flex">
                <mat-spinner *ngIf="isSubmitted" [diameter]="20"></mat-spinner>
              </span>
              Join Now
            </button>
            <button class="btn btn-light" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>


    </mat-stepper>
  </div>

</div>