<div class="h-[600px] border border-default">
  <padicare-layout>
    <padicare-layout-topbar>
      <padicare-announcement iconName="warning" variant="warning">
        You still have not uploaded your Mart invoice due on 22 April 2024
      </padicare-announcement>
    </padicare-layout-topbar>
    <padicare-layout-header>
      <div class="border-b border-b-default px-6 h-14 flex items-center">
        Header
      </div>
    </padicare-layout-header>
    <padicare-layout-body>
      <div class="h-[1000px] p-6">
        Body with scroll
      </div>
    </padicare-layout-body>
  </padicare-layout>
</div>
