<div class="flex flex-col gap-6">
  <padicare-alert variant="default" bordered>This is a Elementar Admin alert — check it out!</padicare-alert>
  <padicare-alert variant="secondary" bordered>This is a Elementar Admin alert — check it out!</padicare-alert>
  <padicare-alert variant="positive" bordered>This is a Elementar Admin alert — check it out!</padicare-alert>
  <padicare-alert variant="informative" bordered>This is a Elementar Admin alert — check it out!</padicare-alert>
  <padicare-alert variant="negative" bordered>This is a Elementar Admin alert — check it out!</padicare-alert>
  <padicare-alert variant="notice" bordered>This is a Elementar Admin alert — check it out!</padicare-alert>
</div>
