<app-page>
  <div appPageContent>
    <h1>Divider</h1>

    <h3 class="mat-title-large">Basic Divider</h3>
    <padicare-playground exampleUrl="_docs/components/divider/_examples" exampleName="basic-divider-example">
      <app-basic-divider-example></app-basic-divider-example>
    </padicare-playground>

    <h3 class="mat-title-large">Horizontal and vertical dividers</h3>
    <padicare-playground exampleUrl="_docs/components/divider/_examples" exampleName="divider-horizontal-and-vertical-example">
      <app-divider-horizontal-and-vertical-example></app-divider-horizontal-and-vertical-example>
    </padicare-playground>
  </div>
</app-page>
