.wrapper {
  margin:0 auto;
  position:relative;
}

.static {
  width:1000px;
  z-index:2;
  height:100px;
  position: fixed;
}
.header {
  height:100px;
}
.content {
  float: left;
  position:relative;
  top: 100px;
}

mat-card {
  width: 600px;
  margin: 100px auto;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}