<div class="bg-gray-200">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <padicare-basic-headers [headerType]="HeaderType.AUTH" [isFixed]="true"></padicare-basic-headers>
      </div>
    </div>
  </div>

  <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100"
      style="background-image: url('/assets/img/bg-rock.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">

        <router-outlet />

      </div>

      <padicare-basic-footers class="footer position-absolute bottom-2 py-2 w-100" [isFixed]="true"></padicare-basic-footers>

    </div>
  </main>
</div>
