<mat-card>
  <mat-card-header class="mt-2 mb-2 text-center">
    <h2>Reset Password</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="alert alert-success" role="alert" *ngIf="isSuccess">
      <div class="d-flex align-item-center">
        <mat-icon class="m-2 pe-4 text-success">check_circle</mat-icon>
        <span> {{ notificationMessage }} </span>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <div class="d-flex align-item-center">
        <mat-icon class="m-2 pe-4 text-success">error</mat-icon>
        <span> {{ errorMessage }} </span>
      </div>
    </div>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="captchaRef.execute()">
      <mat-form-field appearance="outline" class="mt-2">
        <mat-label>Enter User Account Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email" required>
        <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('email')">Invalid email address</mat-error>
      </mat-form-field>
     
      <!-- Invisible recaptcha -->
      <re-captcha #captchaRef="reCaptcha" errorMode="handled"
        (resolved)="captchaService.resolved($event)"
        (error)="captchaService.onError($event);
        captchaRef.reset();"
      />

      <button mat-raised-button color="primary" [disabled]="forgetPasswordForm.invalid">Reset Password</button>
      <br>
      <button mat-button (click)="login()" class="mt-2">Login</button>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #notificationTemplate>
  <div class="alert alert-success" role="alert">
    <div class="d-flex align-item-center">
      <mat-icon class="m-2 text-success">check_circle</mat-icon>
      <span class="p-2"> {{ notificationMessage }} </span>
    </div>
  </div>
</ng-template>
