<app-page>
  <div appPageContent>
    <h1>Upload</h1>

    <h3 class="mat-title-large">Basic Upload</h3>
    <padicare-playground exampleUrl="_docs/components/upload/_examples" exampleName="basic-upload-example">
      <app-basic-upload-example></app-basic-upload-example>
    </padicare-playground>

    <h3 class="mat-title-large">Upload area</h3>
    <padicare-playground exampleUrl="_docs/components/upload/_examples" exampleName="upload-area-example">
      <app-upload-area-example></app-upload-area-example>
    </padicare-playground>

    <h3 class="mat-title-large">File list</h3>
    <padicare-playground exampleUrl="_docs/components/upload/_examples" exampleName="file-list-example">
      <app-file-list-example></app-file-list-example>
    </padicare-playground>

    <h3 class="mat-title-large">File grid</h3>
    <padicare-playground exampleUrl="_docs/components/upload/_examples" exampleName="file-grid-example">
      <app-file-grid-example></app-file-grid-example>
    </padicare-playground>
  </div>
</app-page>
