@use "@angular/material" as mat;

@include mat.core();

$theme-primary: mat.$blue-palette;
$theme-accent: mat.$violet-palette;
$theme-warn: mat.$orange-palette;
$theme-danger: mat.$red-palette;
$theme-success: mat.$green-palette;

$padicare-theme: mat.define-theme(
  (
    color: (
      primary: $theme-accent,
      tertiary: $theme-danger,
      theme-type: light,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
  )
);

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: $theme-primary,
        tertiary: $theme-warn,
        theme-type: light,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );

  .padicare {
    color-scheme: light dark;
    @include mat.button-theme($padicare-theme);
  }
}

body.light-mode {
  color-scheme: light;
}

body.dark-mode {
  color-scheme: dark;
}
