// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$padicare-primary: mat-palette($mat-indigo);
// $mat-blue, A200, A100, A400
$padicare-accent: mat-palette($mat-blue);
// The warn palette is optional (defaults to red).
$padicare-warn: mat-palette($mat-red);
$padicare-success: mat-palette($mat-green);
// Create the theme object (a Sass map containing all of the palettes).
// $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
$padicare-app-theme: mat-light-theme(
  (
    color: (
      primary: $padicare-primary,
      accent: $padicare-accent,
      warn: $padicare-warn,
      success: $padicare-success,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($padicare-app-theme);


// Material v19

// @use '@angular/material' as mat;
// html {
//   color-scheme: light dark;
//   @include mat.theme((
//     color: mat.$violet-palette,
//     typography: Roboto,
//     density: 0
//   ));
// }
