/* You can add global styles to this file, and also import other style files */
/**
Available pre-built themes:
  @angular/material/prebuilt-themes/azure-blue.css
  @angular/material/prebuilt-themes/cyan-orange.css
  @angular/material/prebuilt-themes/deeppurple-amber.css
  @angular/material/prebuilt-themes/indigo-pink.css
  @angular/material/prebuilt-themes/magenta-violet.css
  @angular/material/prebuilt-themes/pink-bluegrey.css
  @angular/material/prebuilt-themes/purple-green.css
  @angular/material/prebuilt-themes/rose-red.css
*/
@use 'bootstrap/scss/bootstrap.scss';
@use 'bootstrap-icons/font/bootstrap-icons.min.css';

@use "./styles/themes/default";
// @use '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Custom buttons
body {
  .mdc-button.mat-success,
  .mat-mdc-stroked-button.mat-success {
    color: #155724;
  }
  .mat-mdc-unelevated-button.mat-success:hover,
  .mat-mdc-raised-button.mat-success:hover {
    color: #f0fff3;
    background-color: #1b742f;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-success,
  .mat-mdc-raised-button.mat-success,
  .mat-mdc-fab.mat-success,
  .mat-mdc-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #155724;
  }
  .mat-mdc-icon-button.mat-success {
    color: #155724;
  }
  .mat-mdc-text-field-wrapper {
    background-color: #FFFFFF !important;
    // border: 1px solid grey;
  }

  .mat-icon-small {
    transform: scale(.5);
  }

  .mat-icon-normal {
    transform: scale(1);
  }

  .mat-icon-big {
    transform: scale(2);
  }

  .mat-icon-bigger {
    transform: scale(4);
  }

  .mat-clickable {
    cursor: pointer;
  }
}

.main {
  // flex: 1;
  margin: 100px auto;
  text-align: center;
}

.space-top {
  margin-top: 70px !important;
}

.top-40 {
  top: 40% !important;
}

.top-60 {
  top: 60% !important;
}

.top-70 {
  top: 70% !important;
}

.top-75 {
  top: 75% !important;
}

.top-80 {
  top: 80% !important;
}

.top-85 {
  top: 85% !important;
}

.top-90 {
  top: 90% !important;
}

.bottom-40 {
  bottom: 40% !important;
}

.bottom-60 {
  bottom: 60% !important;
}

.bottom-70 {
  bottom: 70% !important;
}

.bottom-75 {
  bottom: 75% !important;
}

.bottom-80 {
  bottom: 80% !important;
}

.bottom-85 {
  bottom: 85% !important;
}

.bottom-90 {
  bottom: 90% !important;
}
