<h3 mat-dialog-title class="m-2">{{ isNew ? 'Book' : 'Edit' }} Appointment With {{ caregiverName }}</h3>
<mat-dialog-content>
  <form [formGroup]="appointmentForm">

    <div class="row" *ngIf="isEdit">
      <div class="col-6 col-md-6">
        <h6>Type of care: </h6>
        <p>{{ data.bookingAppointment?.productName || "" | replaceString : '_' : ' ' | titlecase }}</p>
      </div>
      <div class="col-6 col-md-6" *ngIf="showAvailabilityControl">
        <button type="button" class="btn btn-link" (click)="openAvailabilityModal()">Check Availability</button>
      </div>
    </div>

    <div class="row" *ngIf="isNew">
      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>What type of care do you want from {{ caregiverName }}</mat-label>
        <mat-select id="productName" formControlName="productName" (selectionChange)="updateCaregiverFee()">
          <mat-option *ngFor="let careType of data.user.caregiverCareTypes | orderBy: 'product_name' "
            [value]="careType.product_name">
            {{ careType.product_name | replaceString : '_' : ' ' | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('productName')?.hasError('required')">Select care type</mat-error>
      </mat-form-field>
      <a *ngIf="showAvailabilityControl" class="btn text-start" (click)="openAvailabilityModal()">
        Check Availability
      </a>

      <div class="col-lg-12 col-md-12 col-sm-12 mb-2"
        *ngIf="filteredCaregiverFees && filteredCaregiverFees.length == 1">
        <b class="d-block">Service - Charge fee per hour is:
          {{ selectedFee?.amount || 1 | currency : selectedFee?.currency : 'symbol' }}
          and Your Total Due is:
          {{ ( (selectedFee?.amount || 1) * (appointmentForm.get("quantity")?.value || 1 ) ) | currency :
          selectedFee?.currency : 'symbol' }}
        </b>
      </div>

      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12 mt-2 mb-2"
        *ngIf="filteredCaregiverFees && filteredCaregiverFees.length > 1">
        <mat-label>Please select the specific service type</mat-label>
        <mat-select id="caregiverFeesId" formControlName="caregiverFeesId" (selectionChange)="onCaregiverFeeSelected()">
          <mat-option *ngFor="let caregiverFee of filteredCaregiverFees" [value]="caregiverFee.id">
            {{
            (caregiverFee.frequency | replaceString : '_' : ' ' | titlecase)
            + ' - ' +
            (caregiverFee.productName | replaceString : '_' : ' ' | titlecase) + ' - ' +
            (caregiverFee.amount | currency : caregiverFee.currency : 'symbol')
            }}
          </mat-option>
        </mat-select>
        <mat-hint> Note: DAILY is: 8-Hours, WEEKLY is: 40-Hours, MONTHLY is: 160-Hours </mat-hint>
      </mat-form-field>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2" *ngIf="isEdit">
        <h6>{{ quantityLabel }}</h6>
        <p>{{ data.bookingAppointment?.quantity }}</p>
      </div>

      <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2" *ngIf="isNew">
        <mat-label>{{ quantityLabel }}</mat-label>
        <mat-select id="quantity" formControlName="quantity">
          <mat-option *ngFor="let quantity of quantityOptions" [value]="quantity">{{ quantity }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
        <mat-label>Select Date</mat-label>
        <input matInput [matDatepicker]="appointmentDatePicker" formControlName="appointmentDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="appointmentDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #appointmentDatePicker></mat-datepicker>
        <mat-error *ngIf="appointmentForm.get('appointmentDate')?.hasError('required')">
          Enter a valid date
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
        <mat-label>Select Time</mat-label>
        <input matInput [matTimepicker]="appointmentTimePicker" formControlName="appointmentTime">
        <mat-timepicker-toggle matIconSuffix [for]="appointmentTimePicker" />
        <mat-timepicker #appointmentTimePicker />
        <mat-error *ngIf="appointmentForm.get('appointmentTime')?.hasError('required')">
          Enter a valid time
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-4">
      <div class="form-check form-switch p-0">
        <div class="d-inline-flex flex-row-reverse gap-1">
          <input class="form-check-input ms-0" type="checkbox" role="switch" id="enterServiceAddress"
            name="enterServiceAddress" ngDefaultControl [(ngModel)]="isManuallyEnteringServiceAddress"
            [ngModelOptions]="{standalone: true}" (change)="search($event)">
          <label class="form-check-label" for="enterServiceAddress">
            {{ isNew ? 'Enter Service Address' : 'Change Service Address' }}
            <br>
            <i *ngIf="isNew">Toggle this switch if the service address is different from your primary user account
              address</i>
            <i *ngIf="isEdit">Toggle this switch to update the service address</i>
          </label>
        </div>
      </div>
    </div>

    <div class="row" [formGroup]="serviceAddress" *ngIf="isManuallyEnteringServiceAddress">

      <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
        <mat-label>House Number</mat-label>
        <input matInput type="text" formControlName="houseNumber">
        <mat-error *ngIf="serviceAddress.get('houseNumber')?.hasError('required')"> enter a valid house number
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-8 col-md-8 col-sm-12 mt-2 mb-2">
        <mat-label>Street Address</mat-label>
        <input matInput type="text" formControlName="street">
        <mat-error *ngIf="serviceAddress.get('street')?.hasError('required')"> Enter a valid street address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2">
        <mat-label>Zipcode</mat-label>
        <input matInput type="text" formControlName="zipcode" (keyup)="search($event)">
        <mat-error *ngIf="serviceAddress.get('zipcode')?.hasError('required')"> Enter a valid zip code
        </mat-error>
      </mat-form-field>

      <div class="col-lg-8 col-md-8 col-sm-12 mt-2 mb-2">
        <h6> {{ !!zipCodeInfo ? zipCodeInfo.city + ', ' + zipCodeInfo.state : '' }} </h6>
      </div>
    </div>

    <div class="row mb-4" *ngIf="isManuallyEnteringServiceAddress">
      <div class="form-check form-switch p-0">
        <div class="d-inline-flex flex-row-reverse gap-1">
          <input class="form-check-input ms-0" type="checkbox" role="switch" id="updateUserAddressWithServiceAddress"
            name="updateUserAddressWithServiceAddress" ngDefaultControl
            [(ngModel)]="updateUserAddressWithServiceAddress" [ngModelOptions]="{standalone: true}">
          <label class="form-check-label" for="updateUserAddressWithServiceAddress">
            Update My User Account With This Service Address
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <mat-form-field class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>Any Additional Notes</mat-label>
        <textarea matInput id="additionalNotes" formControlName="additionalNotes"
          placeholder="Optional notes for the caregiver. Ex. Estate Gate key, Door knocking rules, etc..."></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button type="button" mat-dialog-close color="secondary" (click)="closeModal()">Cancel</button>
  <button mat-raised-button type="button" color="success" (click)="bookingAppointment()">{{ isNew ? 'Book Appointment' :
    'Update Appointment' }}</button>
</mat-dialog-actions>

<ng-template #availabilityInfo let-close="close">
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h5 class="modal-title">{{ caregiverName }} Earliest Availability</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()">
    </button>
  </div>
  <div class="modal-body">
    <div class="row mt-1 mb-1">
      <div class="col-12 col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"><small>Available Time</small></th>
                  <th scope="col"><small>Hours</small></th>
                  <th scope="col"><small>start Time</small></th>
                  <th scope="col"><small>End Time</small></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let availability of caregiverAvailabilities">
                  <td>{{ availability.available | date: 'medium' }}</td>
                  <td>{{ availability.durationInHours }}</td>
                  <td>{{ availability.startDate | date: 'medium' }}</td>
                  <td>{{ availability.endDate | date: 'medium' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary me-2" (click)="close()">
      OK
    </button>
  </div>
</ng-template>