<div class="flex flex-col gap-6">
  <padicare-alert variant="default">
    <mat-icon padicareAlertIcon class="filled">info</mat-icon>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="secondary">
    <mat-icon padicareAlertIcon class="filled">info</mat-icon>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="positive">
    <mat-icon padicareAlertIcon class="filled">done</mat-icon>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="informative">
    <mat-icon padicareAlertIcon class="filled">help</mat-icon>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="negative">
    <mat-icon padicareAlertIcon class="filled">error</mat-icon>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
  <padicare-alert variant="notice">
    <mat-icon padicareAlertIcon class="filled">info</mat-icon>
    This is a Elementar Admin alert — check it out!
  </padicare-alert>
</div>
