<h3 mat-dialog-title>
  <mat-icon *ngIf="data.icon">{{ data.icon }}</mat-icon>
  <span *ngIf="data.title" class="ms-2">{{ data.title }}</span>
</h3>

<mat-dialog-content>
  <span [innerHTML]="data.html" *ngIf="data.html"></span>
  <p *ngIf="data.message">{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="center" class="mb-2">
  <button mat-raised-button type="button" color="secondary" (click)="onCancel()" *ngIf="data.showCancelButton">
    {{ data.cancelButtonText || 'Cancel'}}
  </button>
  <button mat-raised-button type="button" color="primary" (click)="onConfirm()" *ngIf="data.showConfirmButton">
    {{ data.confirmButtonText || 'Confirm'}}
  </button>
</mat-dialog-actions>
