<div class="flex flex-col gap-8">
  <div class="flex gap-6 items-center">
    <padicare-avatar>
      <mat-icon class="filled">folder</mat-icon>
    </padicare-avatar>
    <padicare-avatar class="bg-pink-500">
      <mat-icon class="filled">cloud_download</mat-icon>
    </padicare-avatar>
    <padicare-avatar class="bg-blue-500">
      <mat-icon class="filled">person</mat-icon>
    </padicare-avatar>
  </div>
  <div class="flex gap-6 items-center">
    <padicare-avatar class="w-7 h-7">
      <mat-icon class="text-lg font-icon">folder</mat-icon>
    </padicare-avatar>
    <padicare-avatar class="bg-pink-500 w-7 h-7">
      <mat-icon class="text-lg font-icon">cloud_download</mat-icon>
    </padicare-avatar>
    <padicare-avatar class="bg-blue-500 w-7 h-7">
      <mat-icon class="text-lg font-icon">person</mat-icon>
    </padicare-avatar>
  </div>
</div>
