<div class="row border p-4">

  <div class="col-lg-12 col-md-12 col-sm-12 mb-2 mt-4">
    <h4 style="color: #0F62FE;">Choose your access</h4>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="border pb-4">
      <div class="mb-3 mt-3 border-bottom">
        <h4 class="text-danger fw-bold m-2">PREMIUM</h4>
      </div>
      <h4 class="text-dark fw-bolder">Find someone your family will love</h4>
      <span class="text-secondary">Join now and save up to 65%</span>

      <ul class="list-group ms-2 mt-3 mb-3">
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold" >check</mat-icon>
          <small>Message any caregiver</small>
        </li>
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold">check</mat-icon>
          <small>Book a sitter when you need one</small>
        </li>
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold">check</mat-icon>
          <small>Get background check options</small>
        </li>
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold">check</mat-icon>
          <small>Pay your caregiver online</small>
        </li>
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold">check</mat-icon>
          <small>Chat with support and more</small>
        </li>
      </ul>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="goPremium()">Go Prmeium</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="border pb-4">
      <div class="mb-3 mt-3 border-bottom">
        <h4 class="text-secondary fw-bold m-2">LIMITED</h4>
      </div>
      <h4 class="text-dark fw-bolder mb-2">Get view-only access</h4>

      <ul class="list-group ms-2 mt-3 mb-3">
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold">check</mat-icon>
          <small>Search for caregivers near you</small>
        </li>
        <li class="list-group-item d-flex align-items-start border-0 py-0">
          <mat-icon class="me-1 text-success mat-icon-small fw-bold">check</mat-icon>
          <small>Post a job and see who applies</small>
        </li>
      </ul>

      <div class="d-grid gap-2">
        <button class="btn btn-outline-secondary" type="button" (click)="stayLimited()">Stay Limited</button>
      </div>
    </div>
  </div>
</div>
