<app-page>
  <div appPageContent>
    <h1>Chips</h1>

    <h3 class="mat-title-large">Basic Chips</h3>
    <padicare-playground exampleUrl="_docs/components/chips/_examples" exampleName="basic-chips-example">
      <app-basic-chips-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Chips With Input</h3>
    <padicare-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-with-input-example">
      <app-chips-with-input-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Chips Autocomplete</h3>
    <padicare-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-autocomplete-example">
      <app-chips-autocomplete-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Chips With Icons</h3>
    <padicare-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-with-icons-example">
      <app-chips-with-icons-example/>
    </padicare-playground>

    <h3 class="mat-title-large">Chips Drag and Drop</h3>
    <padicare-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-drag-and-drop-example">
      <app-chips-drag-and-drop-example/>
    </padicare-playground>


    <h3 class="mat-title-large">Stacked Chips</h3>
    <padicare-playground exampleUrl="_docs/components/chips/_examples" exampleName="stacked-chips-example">
      <app-stacked-chips-example/>
    </padicare-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/chips/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
