@use '@angular/material' as mat;

:host {
  display: grid;
  align-items: center;
  border-radius: var(--padicare-incident-border-radius);
  background: var(--padicare-incident-bg);
  grid-template-areas: "icon content close";
  padding: var(--padicare-incident-padding);
  gap: var(--padicare-incident-gap);
  border-inline-start: var(--padicare-incident-border-start);
  grid-template-columns: [icon] var(--padicare-incident-gap) [content] 1fr [action] var(--padicare-incident-gap);
  color: var(--padicare-incident-color);

  .content {
    grid-area: content;
    display: grid;
    gap: var(--padicare-incident-gap);
    grid-template-areas: "data button";
    grid-template-columns: [data] 1fr [button] var(--padicare-incident-gap);
  }

  .data {
    grid-area: data;
  }

  .icon {
    line-height: 0;
    display: inline-block;
    max-width: max-content;
  }

  .close {
    @include mat.icon-button-overrides((
      icon-color: var(--padicare-incident-close-color),
      state-layer-color: var(--padicare-incident-close-color)
    ));
  }
}
