<div class="h-[600px] relative">
  <padicare-sidebar class="border border-default ">
    <padicare-sidebar-header class="border-b border-b-default">
      <div class="h-20 font-bold px-7 flex items-center text-primary">
        Elementar
      </div>
    </padicare-sidebar-header>
    <padicare-sidebar-body>
      <padicare-sidebar-nav activeKey="home" [navItems]="navItems">
        <ng-template padicareSidebarNavItemIcon let-name>
          <padicare-icon [name]="name"/>
        </ng-template>
      </padicare-sidebar-nav>
    </padicare-sidebar-body>
    <padicare-sidebar-footer class="border-t border-t-default">
      <div class="h-20 px-7 flex items-center text-sm">
        Copyright &copy; 2024
      </div>
    </padicare-sidebar-footer>
  </padicare-sidebar>
</div>
